/* Sistema Intelligence 2.0
Módulo Contratos
Versión 1.0
Author: IntregraIT Contratos Dev01
Comentarios: xxxxx
*/


.menuLogo {
    width: 80,
  }

span{
    color: white;
    font-size:12px;
}

.align-self-center {
  top: 250px !important;
}